body {
    font-family: Arial, sans-serif;
    background-image: url("https://depositphotos.com/fr/photo/waves-water-surface-background-sea-649421438.html");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.column {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    height: 400px;
    overflow-y: auto;
}

.task {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
}

.task.completed {
    text-decoration: line-through;
    background-color: #ddd;
}
